#main-content-wrap img {
    border-radius: 4px;
    border: 1px rgba(0, 0, 0, 0.3) solid;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}
.main-content ol#markdown-toc {
    box-shadow: 0 1px 2px rgba(114,83,237,0.12), 0 3px 10px rgba(114,83,237,0.08);
    border: 1px rgba(114,83,237,0.3) solid;
    border-radius: 4px;
    padding: 10px 40px;
    margin-bottom:30px;
}